/* Reset de estilos para quitar márgenes y rellenos predeterminados */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Establece un fondo y color de texto para el cuerpo de la página */
body {
    background-color: #222831; /* Color de fondo gris oscuro */
    color: #000000; /* Color de texto blanco */
    font-family: Arial, sans-serif; /* Tipo de letra predeterminado */
}

/* Estilo para el encabezado */
header {
    background-color: #000000; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    text-align: left;
    padding: 40px;

}

/* Estilo para la barra de navegación */
nav {
    background-color: #222831; /* Color de fondo gris oscuro */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 30px; /* Ajusta el margen izquierdo según sea necesario */
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Color de texto blanco en los enlaces */
    font-weight: bold; /* Añade negrita para resaltar los enlaces */
    font-size: 14px; /* Tamaño del texto más pequeño */
}

nav a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el mouse sobre él */
}


/* Estilo para las secciones */
section {
    padding: 20px;
    margin: 10px;
    background-color: #222831; /* Color de gris oscuro */
    border: 1px solid #ccc; /* Borde delgado gris */
    color: white;
    clear: both;
    font-size: 19px;
}

/* Estilo para el pie de página */
footer {
    background-color: #333; /* Color de fondo gris oscuro */
    color: #fff; /* Color de texto blanco */
    text-align: center;
    padding: 10px;
}

/* Agrega estilos adicionales según sea necesario */
#section1 {
    padding: 40px;
    margin: 40px;
    background-color: #222831; /* Color de gris oscuro */
    border: 0px solid #ccc; /* Borde delgado gris */
    color: white;

    /* Ajusta el ancho al 50% del contenedor */
    width: 50%;
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    float: left; /* Hace que las secciones se coloquen una al lado de la otra */
}

#resumen {
  /* Establece el tamaño de letra más pequeño */
  font-size: 14px;

  /* Cambia el tipo de letra */
  font-family: 'Arial', sans-serif; /* Puedes cambiar 'Arial' por el tipo de letra que prefieras */
}
